th, td {
    vertical-align: middle !important;
    text-align: center !important;
}

th {
    background-color: #ddd;
}

tr {
    border: 1px solid #ddd;
}

.input-group{
    margin: 20px 0;
}

/* svg {
    height: 150px;
} */
